<%- include('../partials/head.ejs')%>

<%- include('../partials/header.ejs')%>

<div class="container wrapper">
    <div class="row">
        <div class="col-10">
            <form action="/user/register" method="POST">
                <div class="form-group my-2">
                    <label for="username">Username : </label>
                    <input type="text" name="username" id="username" class='form-control <%= errors.username ? 'is-invalid':''%>'>
                    <p class="invalid-feedback"><%= errors.username%></p>
                </div>
                <div class="form-group my-2">
                    <label for="email">Email : </label>
                    <input type="email" name="email" id="email" class='form-control <%= errors.email ? 'is-invalid':''%>'>
                    <p class="invalid-feedback"><%= errors.email%></p>
                </div>
                <div class="form-group my-2">
                    <label for="password">Password : </label>
                    <input type="password" name="password" id="password" class='form-control <%= errors.password ? 'is-invalid':''%>'>
                    <p class="invalid-feedback"><%= errors.password%></p>
                </div>
                <div class="form-group my-2">
                    <label for="confirmPassword">Confirm Password : </label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class='form-control <%= errors.confirmPassword? 'is-invalid':''%>'>
                    <p class="invalid-feedback"><%= errors.confirmPassword%></p>
                </div>
                <input type="submit" value="Register" class='btn btn-primary mt-2'>
            </form>
            <p class="my-2">Already have an account?<a href="/user/login">Log in</a></p>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs')%>
</body>
</html>